# Example only. Export these variables before starting Django.
# Django does not automatically load this file.
DJANGO_SECRET_KEY=
DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=course_group_db
DB_USER=
DB_PASSWORD=
